==
{% if images %}
	{% if images.0.featured_images.isEmpty() %}
		<div class="x-header__slider__carousel x-bgi-cover" style="background-image: url(https://placeholdit.imgix.net/~text?txtsize=72&txt=1900%C3%97600&w=1900&h=600);"></div>
	{% else %}
		{% if images.0.featured_images|length == 1 %}
			<div class="x-header__slider__carousel x-bgi-cover" style="background-image: url({{ images.0.featured_images.0.getPath() }});"></div>
		{% else %}
			<div id="slider" class="x-header__slider__carousel carousel slide" data-ride="carousel">
		      <!-- slides -->
		      <div class="carousel-inner" role="listbox">
		      	{% for image in images.0.featured_images %}
			        <div class="item {{ loop.index == 1 ? 'active' : '' }}">
			          <div class="x-bgi-cover" style="height: 100%; background-image: url({{ image.getPath() }});"></div>
			        </div>
		        {% endfor %}
		      </div>
		      <!-- slider controls -->
		      <div class="x-header__slider__carousel__controls container">
		        <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
		          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		          <span class="sr-only">Previous</span>
		        </a>
		        <a class="right carousel-control" href="#slider" role="button" data-slide="next">
		          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		          <span class="sr-only">Next</span>
		        </a>
		      </div>
		    </div>
		{% endif %} 
	{% endif %}
{% else %}
	<div class="x-header__slider__carousel x-bgi-cover" style="background-image: url(https://placeholdit.imgix.net/~text?txtsize=72&txt=1900%C3%97600&w=1900&h=600);"></div>
{% endif %}